.task_container {
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}

.task_container-content {
    width: 100%;
}

.task_content-title {
    font-weight: bold;
}

.task_container-link a {
    color: chartreuse;
}

.task_container-buttons {
    justify-content: space-between;
    border-radius: 100%;
}

.task_cover {
    background-image: url('https://cdn.pixabay.com/photo/2020/05/30/09/53/todo-lists-5238324_1280.jpg');
    background-size: cover;
    height: 200px;
}

.task_container-icon {
    width: 30px;
    cursor: pointer;
    font-size: 24px;
}

.flex {
    display: flex;
}

.task_add-container {
    padding: 10px 10px 10px 0px;
    width: 100%;
}

.task_add-container-input {
    height: 40px;
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    background-color: #444;
    color: #eee;
    font-size: 16px;
}

.task_add-container-textarea {
    height: 59px;
    margin: 0 5px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    background-color: #444;
    color: #eee;
    font-size: 16px;
    font-family: sans-serif;
}

.task_add-container_itens {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.task_add-container-button {
    background-color: chartreuse;
    height: 40px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    cursor: pointer;
}

.button-check {
    color: #17c500 !important;
    border: 1px solid #17c500 !important;
    background-color: #4a614f !important;
}

.button-info {
    background-color: #4a4f61 !important;
}

.button-danger {
    color: #c50000 !important;
    border: 1px solid #c50000 !important;
    background-color: #614a4a !important;
}

.MuiButton-outlined {
    margin: 3px;
}